body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  width: 0.3rem;
}
body::-webkit-scrollbar-thumb{
  background-color: #444444;
}
body::-webkit-scrollbar-track{
  background-color: transparent;
}
#navbar {
  background-color: #444444;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -60px;
  width: 100%;
  transition: top 0.4s;
}
#navbar a {
  color: white;
  padding: 16px;
  text-decoration: none;
}
#navbar a:hover {
  background-color: lightgrey;
  color: black;
}

.lorem {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
